<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wwave.wave">
    <!-- feature and permissions for intent-based camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- permission for custom camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/my_logo_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EmailPassword"></activity>
        <activity android:name=".ResetPass" />
        <activity android:name=".UVSkin" />
        <activity android:name=".Homee" />
        <activity android:name=".ImageCalculations" />
        <activity android:name=".ImageProcessing" />
        <activity android:name=".AccelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wwave.wave.About" />
        </activity>
        <activity android:name=".EmailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wwave.wave.About" />
        </activity>
        <activity android:name=".Welcome" />
        <activity android:name=".CreateAccount" />
        <activity android:name=".CustomCamera" />
        <activity android:name=".LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".About">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Welcome" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity> <!-- file provider to save full image file -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.wwave.wave"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>